{% extends 'frontend/base.html.twig' %}

{% block content %}
    <div class="row">
        {% for entry in entries %}
            {% set movie = entry.movie %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xl-2">
                {% include 'frontend/module/movie_card.html.twig' with {movie: movie} %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
