{% extends 'admin/base.html.twig' %}

{% block headline %}{{ movie.title }} <small class="text-muted">{{ movie.releaseDate|date('Y') }}</small>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    {{ 'admin.movie.detail.information.poster.title'|trans }}
                </div>
                <img src="{{ movie.imageUrl }}" class="card-img-top" alt="{{ movie.title }}">
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ 'admin.movie.detail.information.title'|trans }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ 'admin.movie.detail.information.overview.title'|trans }}</h5>
                    <form>
                        <div class="form-group row">
                            <label for="staticGenres" class="col-sm-2 col-form-label">
                                {{- 'admin.movie.detail.information.overview.genres.label'|trans -}}
                            </label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticGenres"
                                       value="{{ movie.genres|join(', ') }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticRelease" class="col-sm-2 col-form-label">
                                {{- 'admin.movie.detail.information.overview.release.label'|trans -}}
                            </label>
                            <div class="col-sm-10">
                                {% set releaseDate = movie.releaseDate ? movie.releaseDate|date('Y-m-d') : 'admin.movie.detail.information.overview.release.unknown'|trans %}
                                <input type="text" readonly class="form-control-plaintext" id="staticRelease"
                                       value="{{ releaseDate }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticLength" class="col-sm-2 col-form-label">
                                {{- 'admin.movie.detail.information.overview.length.label'|trans -}}
                            </label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticLength"
                                value="{{ movie.length|format_movie_length }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticActors" class="col-sm-2 col-form-label">
                                {{- 'admin.movie.detail.information.overview.actors.label'|trans -}}
                            </label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticActors"
                                       value="{{ movie.actores|join(', ') }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticDescription" class="col-sm-2 col-form-label">
                                {{- 'admin.movie.detail.information.overview.description.label'|trans -}}
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text"
                                          rows="8"
                                          readonly
                                          class="form-control-plaintext"
                                          id="staticDescription">
                                    {{- movie.description -}}
                                </textarea>
                            </div>
                        </div>
                    </form>
                    <a href="{{ movie_imdb_url(movie) }}" target="_blank" class="btn btn-warning">IMDB</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
