<div class="card mb-4 shadow-sm">
    <img src="{{ movie.imageUrl }}" class="card-img-top" alt="{{ movie.title }}">
    <div class="card-body">
        <h5 class="card-title">
            {{- movie.title }} <small class="text-muted">({{ movie.releaseDate|date('Y') }})</small>
        </h5>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{ movie.genres|join(', ') }}</small>
            <small class="text-muted">{{ movie.length|format_movie_length }}</small>
        </div>
        {% if movie.description|length > 0 %}
            <p class="card-text">
                <button class="btn btn-outline-info"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseDescription{{ movie.id }}"
                        aria-expanded="false"
                        aria-controls="collapseDescription{{ movie.id }}">
                    {{- 'frontend.movie.list.description.label'|trans -}}
                </button>
            <div class="collapse" id="collapseDescription{{ movie.id }}">
                <div class="card card-body">
                    {{- movie.description -}}
                </div>
            </div>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{{ movie_trailer_url(movie) }}"
                   target="_blank"
                   title="{{ 'frontend.movie.list.trailer.label'|trans }}"
                   class="btn btn-sm btn-outline-danger">Trailer</a>
            </div>
        </div>
    </div>
</div>
