<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movies - Backend</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="/vendor/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/vendor/fontawesome-free-5.10.2/css/all.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin') }}">{{ 'admin.title'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_movie_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('admin_movie_list') }}">
                    <i class="fas fa-film"></i>
                    {{ 'admin.nav.movie.label'|trans }}
                    {% if app.request.attributes.get('_route') == 'admin_movie_list' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_collection_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('admin_collection_list') }}">
                    <i class="fas fa-compact-disc"></i>
                    {{ 'admin.nav.collection.label'|trans }}
                    {% if app.request.attributes.get('_route') == 'admin_collection_list' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_watchlist_list' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('admin_watchlist_list') }}">
                    <i class="fas fa-clock"></i>
                    {{ 'admin.nav.watchlist.label'|trans }}
                    {% if app.request.attributes.get('_route') == 'admin_watchlist_list' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_search') }}">
            <input class="form-control mr-sm-2" name="query" type="search"
                   placeholder="{{ 'admin.nav.search.placeholder'|trans }}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">{{ 'admin.movie.search.title'|trans }}</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% block headline %}{% endblock %}</h1>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block content %}{% endblock %}
</div>
<script src="/vendor/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="/vendor/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/vendor/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


</body>
</html>
