<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item {{ page == 1 ? 'disabled' : '' }}">
            <a class="page-link"
               href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: 1})) }}">
                {{- 'admin.pagination.first'|trans|raw -}}
            </a>
        </li>
        <li class="page-item {{ page <= 1 ? 'disabled': '' }}">
            <a class="page-link"
               href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: page - 1})) }}">
                {{- 'admin.pagination.previous'|trans|raw -}}
            </a>
        </li>
        {% for currentPage in range(1, maxPage) %}
            {% if currentPage > page - 5 and currentPage < page + 5 %}
                <li class="page-item {{ page == currentPage ? 'active' : '' }}">
                    <a class="page-link"
                       href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: currentPage})) }}">
                        {{- currentPage -}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item {{ page >= maxPage ? 'disabled' : '' }}">
            <a class="page-link"
               href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: page + 1})) }}">
                {{- 'admin.pagination.next'|trans|raw -}}
            </a>
        </li>
        <li class="page-item {{ page == maxPage ? 'disabled' : '' }}">
            <a class="page-link"
               href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: pagination.maxPage})) }}">
                {{- 'admin.pagination.last'|trans|raw -}}
            </a>
        </li>
    </ul>
</nav>
