{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'admin.movie.search.title'|trans }} <small class="text-muted">{{ query }}</small></h1>
    </div>

    <div class="row">
        {% for result in results %}
            <div class="col-md-3">
                <div class="card mb-4">
                    {% if result.imageUrl %}
                        <img src="{{ result.imageUrl }}" class="card-img-top" alt="{{ result.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            {{- result.title }} <small class="text-muted">({{ result.releaseDate|date('Y') }})</small>
                            {% if result.imported %}
                                <span class="badge badge-info">
                                    {{ 'admin.movie.search.badge.imported'|trans }}
                                </span>
                            {% endif %}
                            {% if result.inWatchlist %}
                                <span class="badge badge-primary">
                                    <i class="fa fa-clock"></i> {{ 'admin.movie.search.badge.watchlist'|trans }}
                                </span>
                            {% endif %}
                            {% if result.inCollection %}
                                <span class="badge badge-primary">
                                    <i class="fa fa-compact-disc"></i> {{ 'admin.movie.search.badge.collection'|trans }}
                                </span>
                            {% endif %}
                        </h5>
                        <p class="card-text">{{ result.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if not result.imported %}
                                    <a href="{{ path('admin_movie_import', {imdbId: result.imdbId}) }}"
                                       title="Import"
                                       class="btn btn-sm btn-success">
                                        {{- 'admin.movie.search.action.import'|trans -}}
                                    </a>
                                {% endif %}
                                {% if not result.imported and not result.inWatchlist %}
                                    <a href="{{ path('admin_search_watchlist_add', {imdbId: result.imdbId, query: query}) }}"
                                       title="{{ 'admin.movie.search.action.watchlistAdd'|trans }}"
                                       class="btn btn-sm btn-success">
                                        <i class="fa fa-clock"></i>
                                        {{ 'admin.movie.search.action.watchlistAdd'|trans -}}
                                    </a>
                                {% endif %}
                                {% if not result.imported and not result.inCollection %}
                                    <a href="{{ path('admin_search_collection_add', {imdbId: result.imdbId, query: query}) }}"
                                       title="{{ 'admin.movie.search.action.collectionAdd'|trans }}"
                                       class="btn btn-sm btn-success">
                                        <i class="fa fa-compact-disc"></i>
                                        {{ 'admin.movie.search.action.collectionAdd'|trans -}}
                                    </a>
                                {% endif %}
                            </div>
                            <small class="text-muted">{{ result.length|format_movie_length }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
