{% extends 'admin/base.html.twig' %}

{% block headline %}{{ 'admin.collection.list.title'|trans }}{% endblock %}

{% block content %}
    <form method="get" action="{{ path('admin_collection_list', {page: 1}) }}">
        <div class="row">
            <div class="form-group col">
                <label for="query">{{ 'admin.collection.list.filter.query.label'|trans }}</label>
                <input id="query"
                       type="text"
                       name="query"
                       value="{{ filter.query }}"
                       class="form-control"
                       placeholder="{{ 'admin.collection.list.filter.query.placeholder'|trans }}">
            </div>
            <div class="form-group col">
                <label for="genres">{{ 'admin.collection.list.filter.genres.label'|trans }}</label>
                <select name="genres[]"
                        id="genres"
                        class="form-control selectpicker"
                        data-live-search="true"
                        data-actions-box="true"
                        multiple>
                    {% for genre in filter.genres.all %}
                        <option value="{{ genre.id }}" {{- genre.id in filter.genres.selected ? ' selected' : '' }}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col">
                <label for="actors">{{ 'admin.collection.list.filter.actors.label'|trans }}</label>
                <select name="actors[]"
                        id="actors"
                        class="form-control selectpicker"
                        data-live-search="true"
                        data-actions-box="true"
                        multiple>
                    {% for actor in filter.actors.all %}
                        <option value="{{ actor.id }}" {{- actor.id in filter.actors.selected ? ' selected' : '' }}>{{ actor.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group col">
                <label for="submit">{{ 'admin.collection.list.filter.submit.label'|trans }}</label>
                <button id="submit"
                        type="submit"
                        class="btn btn-sm btn-success mb-2">
                    {{- 'admin.collection.list.filter.submit.title'|trans -}}
                </button>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{{ 'admin.collection.list.table.header.id'|trans }}</th>
                <th>{{ 'admin.collection.list.table.header.title'|trans }}</th>
                <th>{{ 'admin.collection.list.table.header.releaseDate'|trans }}</th>
                <th>{{ 'admin.collection.list.table.header.length'|trans }}</th>
                <th>{{ 'admin.collection.list.table.header.added'|trans }}</th>
                <th>{{ 'admin.collection.list.table.header.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in collection %}
                {% set movie = entry.movie %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.releaseDate|date('Y-m-d') }}</td>
                    <td>{{ movie.length|format_movie_length }}</td>
                    <td>{{ entry.created|date('Y-m-d') }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <a class="btn btn-outline-info" href="{{ path('admin_movie', {'id': movie.id}) }}"
                               role="button">
                                <i class="fas fa-search"></i>
                            </a>
                            <a class="btn btn-outline-danger"
                               href="{{ path('admin_collection_remove', {id: entry.id}) }}"
                               role="button">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'admin/pagination.html.twig' with {
            page: pagination.page,
            maxPage: pagination.maxPage,
            path: 'admin_collection_list'
        } %}
    </div>
{% endblock %}
