{% extends 'frontend/base.html.twig' %}

{% block container %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ 'app.title'|trans }}</h1>
            <p class="lead text-muted">{{ 'app.description'|trans({'%count%': movie_count()}) }}</p>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        {% for entry in collection %}
            {% set movie = entry.movie %}
            <div class="col-lg-3 col-md-6 col-sm-8">
                {% include 'frontend/module/movie_card.html.twig' with {movie: movie} %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
