<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>{% block title %}Movies{% endblock %}</title>
    <link rel="stylesheet"
          href="/vendor/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/vendor/fontawesome-free-5.10.2/css/all.min.css"
          rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ 'frontend.nav.title'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.attributes.get('_route') == 'index' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('index') }}">
                    <i class="fas fa-compact-disc"></i>
                    {{ 'frontend.nav.collection.label'|trans }}
                    {% if app.request.attributes.get('_route') == 'index' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') == 'frontend_watchlist' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('frontend_watchlist') }}">
                    <i class="far fa-clock"></i>
                    {{ 'frontend.nav.watchlist.label'|trans }}
                    {% if app.request.attributes.get('_route') == 'frontend_watchlist' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    {% block container %}{% endblock %}

    <div class="album py-5 bg-light">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
{% block javascripts %}{% endblock %}
<script src="/vendor/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="/vendor/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/vendor/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
